@media (max-width: 579px) {
  .search{
     transform: none !important;
     -webkit-transform: none !important;
     -moz-transform: none !important;
     -ms-transform: none !important;
     -o-transform: none !important;
}
  .search .search-content{
    width: inherit;
  }
  
  .search .search-button{
    text-align: center;
  }
  .acheivments .acheivment, .acheivments .acheivments-content{
    display: flex !important;
    justify-content: center !important;
  
}
.contact-icone .icone{
  margin: 0!important;
}
.header-content h1{
  font-size: 40px!important;
}
.most-popular .owl-nav{
  display: flex !important;
  justify-content: center;
}
.most-popular .owl-next, .most-popular .owl-prev{
  position: static!important;
  
  
}
.most-popular .owl-next span, .most-popular .owl-prev span{
  position: static!important;
  
}
}

 
@media (max-width: 768px) {
  .hexagon {
    left: 40%;
  }

  .features .feature-img img {
    width: inherit;
  }
  .company-news button, .company-news input{
     width: 70%;
     margin-bottom: 10px;
  }
  .footer-contact-img{
    width: 50%;
  }
  .destination-header-content div h1{
    font-size: 40px!important;
}
}

@media (max-width: 992px) {
  .features .feature-img img {
    width: -webkit-fill-available;
    background-color: red !important;
  }
  .search-button{
    width: inherit !important;
  }
  .search-button a{
    padding-left: 5rem!important;
    padding-right: 5rem!important;
  
   }
   .footer-end p,.footer-end .footer-end-img{
    display: flex;
    justify-content: center!important;
   }
   .tour-header .search{
    transform: none !important;
 }
  
}

@media (max-width: 1024px) {
  .contact-info {
    display: none;
  }

  .acheivments .video,.acheivments .video-info{
    display: none;
  }
  .video-numbers{
    position: relative;
    transform: none;
    width: fit-content;
    justify-content: center;
    margin: 0;
  }
  .users{
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 1200px) {
  .header .search .container {
    bottom: 0;
  }

  .about img {
    display: none;
  }

  .about-info-special{
    padding-right: 24px !important;
    margin: 0 !important;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
  .subscribe-img{
    display: none;
  }

  .search{
    transform: translate(3%,-120%);
    -webkit-transform: translate(3%,12%);
    -moz-transform: translate(3%,-120%);
    -ms-transform: translate(3%,-120%);
    -o-transform: translate(3%,-120%);
 }
  
 .search-button a{
  padding-left: 2rem!important;
  padding-right: 2rem!important;

 }
 .company-news{
  padding-bottom: 20px;
 }
.contacts .need-help{
  width: 100%;
}
.contacts .need-help-info{
  justify-content: left!important;
}
.column2 h2,.column2 p{
  text-align: center;
  margin-top: 20px;
}


}